version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: img_proc_db
    env_file:
      - ./imgproc/imgproc/.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data: 